.body {
	margin: 0;
	padding: 0;
}

.container {
	margin: 0 auto;
	width: 40%;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 10px;
	height: 600px;
	margin-top: 10%;
	overflow: auto;
	position: relative;
}

.title {
	text-align: center;
}

ul {
	list-style-type: none;
	margin-top: 100px;
}

ul li.completed {
	color: blue;
	text-decoration: line-through;
}

ul li .index {
	width: 50px;
    display: block;
    float: left;
}